.anyListSection_treeMapContainer {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-min-height: 200;
    -fx-pref-height: 350;
}

.anyListSection_personListPlaceHolder {
}
