.attributeCard {
    -fx-background-color: #D6DAC8;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5 10 5 10;
}
.attributeCard_attributeLabel {
    -fx-padding: 2 5 2 5;
    -fx-alignment: center;
    -fx-background-color: #F8F6E3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-opacity: 1;
    -fx-text-fill: -black;
    -fx-font-family: 'Montserrat SemiBold Italic';
}
.attributeCard_attributeInfo {
    -fx-opacity: 1;
    -fx-padding: 2 5;
    -fx-text-fill: -black;
    -fx-font-family: 'Montserrat';
}
.personCard_uuid_label {
    -fx-background-color: #FBF3D5;
    -fx-padding: 3 5 3 5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: -black;
    -fx-font-family: 'Montserrat SemiBold';
}
.personCard_vbox {
    -fx-background-color: #D6DAC8;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.personCard_container {
    -fx-background-color: #9CAFAA;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.personCard_container:hover {
    -fx-translate-y: -8;
    -fx-translate-x: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 15, 0.0, 5, 10);
}
.personCard-tag {
    -fx-padding: 2 5;
    -fx-text-fill: -black;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-font-family: 'Montserrat';
}
.personCard-tag:hover {
    -fx-opacity: 0.75;
}

.personCard-sibling {
    -fx-background-color: -tag-red-sibling;
}

.personCard-spouse {
    -fx-background-color: -tag-purple-spouse;
}

.personCard-bioparent {
    -fx-background-color: -tag-yellow-bioparent;
}

.personCard-friend {
    -fx-background-color: -tag-green-friend;
}

.personCard-general {
    -fx-background-color: -tag-blue-general;
}
.personCard-empty {
    -fx-background-color: -white;
}

.personCard_flowpane {
    -fx-background-color: #B5C0D0;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.0, 5, 10);
}
