.tree-map_flowpane {
    -fx-background-color: #EFBC9B;
}

.treeMapPaneScrollPane {
    -fx-background-color: transparent;
    -fx-fit-to-width: true;
}

.treeMapPaneScrollPane .scroll-bar:vertical .increment-arrow,
.treeMapPaneScrollPane .scroll-bar:vertical .decrement-arrow,
.treeMapPaneScrollPane .scroll-bar:vertical .increment-button,
.treeMapPaneScrollPane .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
    -fx-opacity: 0;
    -fx-shape: "";
}

.treeMapPaneScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:#EFBC9B;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
    -fx-pref-height: 30;
}
.treeMapPaneScrollPane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
    -fx-opacity: 0;
}
.treeMapPaneScrollPane:hover .scroll-bar:vertical,
.treeMapPaneScrollPane:focus .scroll-bar {
    -fx-opacity: 1;
}

.person-tag {
    -fx-padding: 2 5;
    -fx-text-fill: -black;
    -fx-background-color: #d3d3d3;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-font-family: 'Raleway';
    -fx-translate-y: -10;
    -fx-font-size: 15;
}
.person-tag:hover {
    -fx-opacity: 0.75;
}


