.searchResultSection_treeMapContainer {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-min-height: 150;
    -fx-max-height: 350;
}

.searchResultSection_personListPlaceHolder {
}
