@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: 'Raleway Medium';
    src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: 'Raleway SemiBold Italic';
    src: url("../fonts/Raleway-SemiBoldItalic.ttf");
}

@font-face {
    font-family: 'Raleway Medium Italic';
    src: url("../fonts/Raleway-MediumItalic.ttf");
}
.h1 {
    -fx-font-size: 24;
}
.h2 {
    -fx-font-size: 18;
}
.h3 {
    -fx-font-size: 14;
}
.h4 {
    -fx-font-size: 13;
}
.p1 {
    -fx-font-size: 12;
}
.p2 {
    -fx-font-size: 11;
}
/* ============================================================================= */
/* COLOR THEME */
/* ============================================================================= */
* {
    /* PRIMARY COLORS */
    -black: #222831;
    -special-orange: #EFBC9B;
    -special-cream: #FBF3D5;
    -white: #EEEEEE;
    -dark-grey: #393E46;

    /* SECONDARY COLORS */
    -light-green: #D6DAC8;
    -dark-green: #9CAFAA;
    -red: #F76B8A;
    -rose-red: #3B0918;

    /* COLORS FOR TAGS */
    -tag-red-sibling: #F59B7C;
    -tag-orange: #FEBF76;
    -tag-yellow-bioparent: #F1F487;
    -tag-green-friend: #C2ED98;
    -tag-blue-general: #8ED2CD;
    -tag-purple-spouse: #98A9D7;
}

/* ============================================================================= */
/* JAVAFX BASIC COMPONENTS */
/* ============================================================================= */
.dialog-pane {
    -fx-background-color: #EFBC9B;
    -fx-spacing: 10;
}

.main-window_container {
    -fx-background-color: #EFBC9B;
}
.menu-bar_panel {
    -fx-padding: 5;
    -fx-background-color: transparent;
}

.menu-bar_item {
    -fx-text-fill: -black;
}
.main-window_navbar {
    -fx-padding: 40 150 0 100;
    -fx-spacing: 120;
}
.main-window_navbar_image-container {

}
.main-window_navbar_image {
    -fx-border-radius: 10;
}

.main-window_navbar-panel {
}

.commandBox_container{
    -fx-spacing: 10;
}

.result_container {

}

.commandBoxContainer{

}






